html
	head

		title Weather
		style
			include ../static/style.css
	header
	body
		section
			p Located in : Castricum
			div 
				H1 You should probably wear a swhea
				imgimage(src="image1.jpg")
			div
				imgimage(src="static/image2.png")
	footer
		p Sander Oostenbrink - Blok tech 2019