body{
	background-color: green;
}
section{
	min-height: 100%;
}
section div{
	background-color: blue;
	border: solid white 1px;
	padding: 0em 1em;
	color: white;
	text-align: center;
	width: 30%;
	margin: 20% auto 0%;
}
footer{
	margin-top: -30px;
}